.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Link{
  color: white;
  text-decoration: none;
}
.picture{
  position: fixed;
  opacity: 0.3;
  width: 200px;
  height: 150px;
  z-index: -1;
}
.feinkoi{
  top: 600px;
  left: 1200px;
}
.whale{
  width: 250px;
  height: 200px;
  top: 500px;
  left: 700px;
}
.fish{
  top: 370px;
  left: 1000px;
}
.jelly{
  top: 500px;
  left: 10px;
  height: 250px;
}
.shark{
  top: 390px;
  left: 350px;
  width: 300px;
  height: 200px;
}
.whalejump{
  top: 100px;
  left: 1100px;
  width: 300px;
  height: 250px;
}
.fishfein{
  top: 100px;
  left: 100px;
}
.feintle{
  top: 200px;
  left: 600px;
}